
<%= form_tag '#', method: :post, class: "form-horizontal" do %>

<div class="form-group">
	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1"><%= icon(:user) %></span>
		<input type="text" class="form-control" placeholder="Nombre" aria-describedby="basic-addon1">
	</div>
</div>
<div class="form-group">
	<div class="input-group">
		<span class="input-group-addon" id="basic-addon2"><i class="fa fa-envelope" style="height: 14px; width: 11px;"></i></span>
		<input type="text" class="form-control" placeholder="E-Mail" aria-describedby="basic-addon2">
	</div>
</div>
<div class="form-group">
	<div class="input-group">
		<span class="input-group-addon" id="basic-addon3"><%= icon(:phone) %></span>
		<input type="text" class="form-control" placeholder="Teléfono" aria-describedby="basic-addon3">
	</div>
</div>

<div class="form-group">
	<textarea type="text" class="form-control" placeholder="Escriba su mensaje..."></textarea>
</div>

<div class="form-group">
	<button type="submit" class="btn btn-primary btn-sm pull-right">Enviar</button>
</div>
<% end %>