<section id="iram" class="">
  <div class="container">

    <div class="row">
      <div class="col-md-4 col-xs-6">
        <h4 class="section-heading">Calidad Certificada</h4>
      </div>
      <div class="col-md-offset-4 col-md-4 col-xs-6">
        <img alt="capacidad" src="/assets/frontend/iram.png" class="logo" >
        <h5>
          RI-9000-5344
          <br/>
          IRAM ISO 9001:2008
        </h5>
      </div>
    </div>
  </div>

</section>


