<div style="display:none;" id="alert-success" class="alert alert-success" role="alert">
  <i class="fa fa-check  fa-2x"></i>
  <b>E-mail enviado</b>
</div>

<div style="display:none;" id="alert-warning" class="alert alert-danger" role="alert">
  <i class="fa fa-warning  fa-2x"></i>
  <b>Falta completar el Formulario</b>
</div>
