<!-- what Section -->
<section id="products" class="bg-green">

  <div class="bg-gray head">

    <h3 class="section-heading">Productos</h3>
    <hr class="custom-hr">

  </div>

  <div class="decor-bottom decor-gray">
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 100 100" version="1.1" preserveAspectRatio="none" height="100%" class="decor">
      <path stroke-width="0" d="M0 0 L0 100 L100 0"/>
    </svg>
  </div>

  <div class="container" style="padding-bottom: 50px; padding-top: 25px;">


    <div class="row">

      <div class="col-xs-10 col-xs-offset-1">

        <div class="row">

          <%= render 'product_item', product: {id: 1, img: 'product-teytu.png', kind: 'Sistema', legend: 'Tecnología de Turismo', url: 'http://www.teytu.com'} %>
          <%= render 'product_item', product: {id: 2, img: 'product-gestion.png', kind: 'Sistema', legend: 'Gestión de Empresas', url: 'http://www.snappler.com/showroom/snap-gestion/index.html'} %>
          <%= render 'product_item', product: {id: 3, img: 'product-torneos.png', kind: 'Sistema', legend: 'Gestión para Torneos', url: 'http://www.snappler.com/showroom/snap-torneos/index.html'} %>


        </div>

      </div>


    </div>


  </div>


</section>

