
<!-- what Section -->
<section id="contact" class="bg-light-gray">

	<div class="bg-white head">
		<h3 class="section-heading">Contáctenos</h3>
		<hr class="custom-hr">
	</div>



	<div class="row contact-container">
	<div class="col-md-offset-1 col-md-11">
			<div class="row" style="padding-top: 20px; padding-bottom: 20px;">
				<div class="col-md-12">
					<span class="info-box" style="margin-right: 15px;"><i class="fa fa-user"></i>Diagonal 79 N° 1042 e/ 55 y 56 - La Plata - Buenos Aires</span>
					<span class="info-box" style="margin-right: 15px;"><i class="fa fa-phone"></i>011 4921-5809</span>
					<span class="info-box" style="margin-right: 15px;"><i class="fa fa-envelope"></i>info@snappler.com</span>
					<span class="info-box" style="margin-right: 15px;"><i class="fa fa-facebook"></i>Snappler</span>
				</div>
			</div>
		</div>

		<div class="col-md-7 col-md-offset-1">
			
			<div class="row">
				<div class="col-md-6">
					<%= render 'contact_form' %>
				</div>

				<div class="col-md-6" style="text-align: center;">
					<%= image_tag "frontend/logos/snappler-legend.png", style: 'width: 50%; padding-bottom: 30px; padding-top: 10px; width: 50%;' %>
				</div>
			</div>
		</div>


	</div>







</section>

