<!-- what Section -->
<section id="what">
  <div class="bg-pink head">


    <h3 class="section-heading">¿Qué hacemos?</h3>
    <hr class="custom-hr">


  </div>

  <div class="decor-bottom decor-red">
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 100 100" version="1.1" preserveAspectRatio="none" height="100%" class="decor">
      <path stroke-width="0" d="M0 0 L0 100 L100 0"/>
    </svg>
  </div>

  <div class="container" style="padding-bottom: 50px; padding-top: 25px;">


    <div class="row text-center">
      <div class="col-sm-6 what-item">
        <div class="row">
          <div class="col-md-3 text-center">
            <%= image_tag "frontend/what/consultoria_y_asesoramiento.png", style: 'height: 115px;' %>
          </div>
          <div class="col-md-9 ">
            <h4 class="service-heading">Consultoría y Asesoramiento</h4>

            <p class="text-muted text-justify">Un asesoramiento especializado representa una gran ventaja competitiva,
              optimizando sus procesos y aportando herramientas para fortalecer las estrategias de su modelo de
              negocio. </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 what-item">
        <div class="row">
          <div class="col-md-3 text-center">
            <%= image_tag "frontend/what/proyectos_y_soluciones_a_medida.png", style: 'height: 115px;' %>

          </div>
          <div class="col-md-9 ">
            <h4 class="service-heading">Proyectos y Soluciones a Medida</h4>

            <p class="text-muted text-justify">Cada organización es única, por lo cual requiere que el desarrollo de una
              solución también lo sea para adaptarse a las características y necesidades de la misma.</p>
          </div>
        </div>
      </div>

    </div>


    <div class="row text-center">
      <div class="col-sm-6 what-item">
        <div class="row">
          <div class="col-md-3 text-center">
            <%= image_tag "frontend/what/tercerizacion_de_it.png", style: 'height: 115px;' %>
          </div>
          <div class="col-md-9 ">
            <h4 class="service-heading">Tercerización de IT</h4>

            <p class="text-muted text-justify">Entendemos la relevancia de contar con información confiable y oportuna
              en un entorno de negocios cada vez más competitivo.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 what-item">
        <div class="row">
          <div class="col-md-3 text-center">

            <%= image_tag "frontend/what/partner_tecnologico.png", style: 'height: 115px;' %>

          </div>
          <div class="col-md-9 ">
            <h4 class="service-heading">Partner Tecnológicos</h4>

            <p class="text-muted text-justify">Nacimos como start-up en la ciudad de La Plata y sabemos que empezar a
              veces es difícil. Su idea de negocio nos interesa y podemos desarrollar la parte tecnológica que
              necesita.</p>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>

