
<!-- what Section -->
<section id="how" class="bg-violet">
	<div class="bg-white head">



		<h3 class="section-heading">¿Cómo lo hacemos?</h3>
		<hr class="custom-hr">


	</div>

	<div class="decor-bottom decor-white">
		<svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 100 100" version="1.1" preserveAspectRatio="none" height="100%" class="decor"><path stroke-width="0" d="M0 0 L100 100 L100 0 "/></svg>
	</div>

	<div class="container" style="padding-bottom: 50px; padding-top: 25px;">



		<div class="row">
			<div class="col-md-5 col-md-offset-1">
				<p class="large text-muted text-justify">Con un fuerte compromiso y participación con el cliente, en cada nuevo desafío buscamos comprender todo el proyecto, para lograr una solución óptima para cada necesidad y detectar oportunidades de mejora.</p>
				<p class="large text-muted text-justify type2">Nuestra modelo de trabajo se basa en 5 etapas que se retroalimentan continuamente:</p>
			</div>

			<div class="col-md-4 col-md-offset-1">

				<div class="row">
					<div class="col-md-12">
						<img alt="capacidad"  class="rotable img-responsive" src="/assets/frontend/who/como-lo-hacemos.png" style="width:100%;" >
					</div>
				</div>


			</div>
		</div>


	</div>

	<img alt="Como lo hacemos"  src="/assets/frontend/banda1.jpg" style="width:100%;" >


 <!-- <div class="decor-top decor-gray">
    <svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg"><path d="M0 100 L100 0 L100 100" stroke-width="0"/></svg>
  </div> -->

</section>

