


<!-- Header -->
<header class="to_resize">

  <div id="carousel-example-generic" class="carousel slide to_resize" data-ride="carousel" >
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner " role="listbox">



      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="to_resize" style="background-image: url('<%= image_url('frontend/sliders/slider_1.jpg') %>'); background-repeat: no-repeat; background-position: center center; background-size: cover; "></div>
          <div class="carousel-caption caption-1">
            <h2>CALIDAD <span class="mas">+</span> CONFIANZA</h2>
            <p>En el año 2013 Snappler ha certificado la calidad de sus servicios mediante las Normas IRAM ISO 9001:2008.</p>
          </div>
        </div>
        <div class="item">
          <div class="to_resize" style="background-image: url('<%= image_url('frontend/sliders/slider_2.jpg') %>'); background-repeat: no-repeat; background-position: center center; background-size: cover; "></div>
          <div class="carousel-caption caption-2">
            <h2>COMPROMISO <span class="mas">+</span> FLEXIBILIDAD</h2>
            <p>Buscamos comprender y adaptarnos a las características de cada proyecto para brindar soluciones tecnológicas de alta calidad.</p>
          </div>
        </div>
        <div class="item">
          <div class="to_resize" style="background-image: url('<%= image_url('frontend/sliders/slider_3.jpg') %>'); background-repeat: no-repeat; background-position: center center; background-size: cover; "></div>
          <div class="carousel-caption caption-3">
            <h2>CAPACIDAD <span class="mas">+</span> EXPERIENCIA</h2>
            <p>Somos una empresa de consultoría y desarrollo de software con una fuerte vocación de servicio, especializada en desarrollo de aplicaciones Web</p>
          </div>
        </div>
      </div>


                <!-- Controls -->
          <!--
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
          </a>
          -->
       </div>

  </div>

  <!-- <div class="decor-top decor-red">
    <svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg"><path d="M0 100 L100 0 L100 100" stroke-width="0"/></svg>
  </div> -->


</header>
