<div class="col-xs-6 col-sm-4" style="margin-bottom: 10px;">
  <div class="team-member">
    <%= image_tag "frontend/team/#{profile[:img]}", class: 'img-responsive img-circle' %>
    <span class="tooltip-content">
      <h4><%= profile[:name] %></h4>
    </span>
  </div>
</div>

