<table>
  <tr style="border-bottom: 1px solid #000000;">
    <td style="vertical-align: top;">
      <b style="text-align: right;">Nombre y Apellido:</b>
    </td>
    <td>
      <span style="margin-left:10px"><%= @data['name_surname'] %></span>
    </td>
  </tr>
  <tr style="border-bottom: 1px solid #000000;">
    <td style="vertical-align: top;">
      <b style="text-align: right;">Email:</b>
    </td>
    <td>
      <span style="margin-left:10px"><%= @data['email'] %></span>
    </td>
  </tr>
  <tr style="border-bottom: 1px solid #000000;">
    <td style="vertical-align: top;">
      <b style="text-align: right;">Teléfono de contacto:</b>
    </td>
    <td>
      <span style="margin-left:10px"><%= @data['telephone'] %></span>
    </td>
  </tr>
  <tr style="border-bottom: 1px solid #000000;">
    <td style="vertical-align: top;">
      <b style="text-align: right;">Comentarios:</b>
    </td>
    <td>
      <span style="margin-left:10px;white-space: pre-wrap;"><%= @data['comments'] %></span>
    </td>
  </tr>

</table>


