<table>
  <tr >
    <td style="vertical-align: top; border-bottom: 1px solid #000000;">
      <b style="text-align: right;">Nombre y Apellido:</b>
    </td>
    <td style="border-bottom: 1px solid #000000; border-top:5px solid transparent">
      <span style="margin-left:10px"><%= @data['name_surname'] %></span>
    </td>
  </tr>
  <tr >
    <td style="vertical-align: top; border-bottom: 1px solid #000000;">
      <b style="text-align: right;">Email:</b>
    </td>
    <td style="border-bottom: 1px solid #000000; border-top:5px solid transparent">
      <span style="margin-left:10px"><%= @data['email'] %></span>
    </td>
  </tr>
  <tr >
    <td style="vertical-align: top; border-bottom: 1px solid #000000; border-top: 5px solid transparent;">
      <b style="text-align: right;">Teléfono de contacto:</b>
    </td>
    <td style="border-bottom: 1px solid #000000; border-top:5px solid transparent">
      <span style="margin-left:10px"><%= @data['telephone'] %></span>
    </td>
  </tr>
  <tr >
    <td style="vertical-align: top; border-bottom: 1px solid #000000; border-top: 5px solid transparent;">
      <b style="text-align: right;">Comentarios:</b>
    </td>
    <td style="border-bottom: 1px solid #000000; padding-left: 10px; border-top:5px solid transparent">
      <span style="white-space: pre-wrap;"><%= @data['comments'] %></span>
    </td>
  </tr>

</table>


