<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          ERP: Sistemas de Gestión
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
<p>Los sistemas ERP son sistemas integrales de gestión para la empresa.</p>
<p>Se caracterizan por estar compuestos por diferentes partes integradas en una única aplicación. Estas partes son de diferente uso, por ejemplo: producción, ventas, compras, logística, contabilidad.  Permitiendo realizar un manejo correcto y eficiente de la información que permita la toma oportuna de decisiones y disminución de costos.</p>
    </div>
    </div>
  </div>
  <div class="panel panel-default">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
CRM: Sistemas de Fidelizacion
         </a>
       </h4>
     </div>
     <div id="collapseTwo" class="panel-collapse collapse">
       <div class="panel-body">
<p>CRM, es un modelo de gestión enfocado principalmente en los clientes.  Por lo tanto, el concepto CRM, se refiere a la estrategia de negocio en clientes satisfechos y de los sistemas informáticos que permiten realizar esta labor.</p>
<p>La parte fundamental de todo sistema de fidelización es la base de datos, con la cual se puede realizar un seguimiento constante a los clientes.</p>
       </div>
     </div>
   </div>

    <div class="panel panel-default">
       <div class="panel-heading">
         <h4 class="panel-title">
           <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
GIS: Sistema de Información Geográfica
           </a>
         </h4>
       </div>
       <div id="collapseSeven" class="panel-collapse collapse">
         <div class="panel-body">
<p>Un sistema de información geográfica es un sistema diseñado para capturar, almacenar, manipular, analizar y desplegar en todas sus formas la información geográficamente referenciada con el fin de resolver problemas complejos de planificación y gestión geográfica.</p>
<p>El SIG funciona como una base de datos con información geográfica (datos alfanuméricos) que se encuentra asociada por un identificador común a los objetos gráficos de un mapa digital. De esta forma, señalando un objeto se conocen sus atributos e, inversamente, preguntando por un registro de la base de datos se puede saber su localización en la cartografía.</p>
         </div>
       </div>
     </div>

    <div class="panel panel-default">
       <div class="panel-heading">
         <h4 class="panel-title">
           <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
Puestos Venta
           </a>
         </h4>
       </div>
       <div id="collapseFour" class="panel-collapse collapse">
         <div class="panel-body">
<p>Es un sistema compuesto por software y hardware, creado especialmente para agilizar los procesos relacionados con ventas y atención al público. </p>
<p>Es el sistema encargado de realizar todo el proceso de venta desde la captura de los productos en su base de datos, lectura de la información mediante dispositivos externos, emisión de comprobantes de compra y facturas, etc.</p>
         </div>
       </div>
     </div>



    <div class="panel panel-default">
       <div class="panel-heading">
         <h4 class="panel-title">
           <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
Aplicaciones Movile
           </a>
         </h4>
       </div>
       <div id="collapseFive" class="panel-collapse collapse">
         <div class="panel-body">
<p>Una aplicación móvil o app es una aplicación informática diseñada para ser ejecutada en teléfonos inteligentes, tabletas y otros dispositivos móviles.</p>
<p>Una tendencia que está en auge es la utilización de las apps como herramienta de marketing. En cualquier lugar y en cualquier momento sus clientes pueden acceder a toda la información de la marca solo con disponer de un dispositivo móvil.</p>
         </div>
       </div>
     </div>


    <div class="panel panel-default">
       <div class="panel-heading">
         <h4 class="panel-title">
           <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
Diseño Web
           </a>
         </h4>
       </div>
       <div id="collapseSix" class="panel-collapse collapse">
         <div class="panel-body">
<p>El diseño web es una actividad que consiste en la planificación, diseño e implementación de sitios y páginas Web. No es simplemente una aplicación del diseño convencional, ya que requiere tener en cuenta cuestiones tales como Navegabilidad, Usabilidad, Arquitectura de la Información y la interacción de Medios como el audio, texto, imagen y video. </p>
         </div>
       </div>
     </div>


   <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
Tiendas Online
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
<p>Una tienda online o tienda virtual  se refiere a un comercio que usa como medio principal para realizar sus transacciones un sitio web de Internet. Los vendedores de productos y servicios ponen a disposición de sus clientes un sitio web en el cual pueden observar los productos, leer sus especificaciones y finalmente adquirirlos. Este servicio le da al cliente además de rapidez en la compra, la posibilidad de hacerlo desde cualquier lugar y a cualquier hora. </p>
        </div>
      </div>
    </div>









</div>
