    <li class="media">
        <a class="pull-left" href="#">
            <span class="media-object">
                <svg width="96" height="110">
                  <rect width="96" height="110" style="fill:#CDDAE3; " class="media-object" />
                </svg> 
            </span>

        </a>
        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
        </div>
    </li>