
<div class="row hidden-xs">
    <div class="">


        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          

          <!-- Indicators -->
          <ol class="carousel-indicators col-md-3">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active" data-toggle="tooltip" data-placement="left" data-html="true" >
                <span class="custom-header-1">Calidad</span>
            	<%#= image_tag('logo_snappler_live.png') #%>
            </li>

            <li data-target="#carousel-example-generic" data-slide-to="1" class="" data-toggle="tooltip" data-placement="left" data-html="true" >
              <span class="custom-header-1">Experiencia</span>
            	<%#= image_tag('logo_sedom.png') #%>
            </li>

            <li data-target="#carousel-example-generic" data-slide-to="2" class="" data-toggle="tooltip" data-placement="left" data-html="true" >
              <span class="custom-header-1">Capacidad</span>
            	<%#= image_tag('logo_tu_inflacion.png') #%>
            </li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            
            <div class="item  col-md-9 active">
              <%= image_tag('calidad2.png') %>
            </div>

            <div class="item  col-md-9">
              <%= image_tag('experiencia2.png') %>
            </div>

            <div class="item col-md-9">
              <%= image_tag('capacidad2.png') %>
            </div>
            
          </div>
        </div>
    </div>
</div>