

    <h1>Contacto</h1>
    
    <blockquote class="">Podes ponerte en contacto con Snappler rellenando el formulario, por telefono o email</blockquote>

    <div class="row">
        <div class="col-md-6">
            <h3 class="custom-header-1">¿Podemos ayudarte?</h3>
<p>Podes ponerte en contacto con Snappler rellenando el formulario, por telefono o email</p>
             <%= render 'express_contact' %>
        </div>
    </div>

    <% content_for :sidebar do %>
        <h2 class="custom-header-1 text-align-left">Contacto</h2>
        <address>
            <ul class="list-style-type-none">
                <li>Telefono: 11-6380-9500</li>
                <li>Email: info@snappler.com </li>
            </ul>
        </address>

        <h2 class="custom-header-1 text-align-left">Oficinas</h2>
        <address>
            <ul class="list-style-type-none">
                <li>Muñiz 100, esquina Hipolito Yrigoyen</li>
                <li>Ciudad Autómata de Buenos Aires, Argentina</li>
            </ul>
        </address>    
    <% end %>






