    <% content_for :sidebar do %>
        <h3 class="custom-header-1 margin-top-0 padding-top-20">Contáctenos…</h3>
        <p>Siempre tenemos una solución a su medida.</p>
        <%= render 'express_contact' %>
    <% end %>


    <h1>¿Cómo lo Hacemos?</h1>
    <blockquote class="">Somos una empresa  con metodologías de trabajo ágiles y flexibles que busca brindar soluciones tecnológicas integrales. </blockquote>



<p>Con un fuerte compromiso, en cada nuevo desafío buscamos comprender y analizar todo el proyecto, para lograr una solución que optimice el funcionamiento de la organización y detectar oportunidades de mejora para la misma.</p>
<p>Nuestra modelo de trabajo se basa en 5 etapas secuenciales que se retroalimentan continuamente:</p>

<ol class="margin-top-15 margin-bottom-15">
    <li><blockquote class="">Etapa de Análisis de Requerimientos</blockquote> </li>  
    <li><blockquote >Etapa de Diseño  y Planificación del Desarrollo</blockquote></li>  
    <li><blockquote >Etapa de Desarrollo</blockquote></li>  
    <li><blockquote >Etapa de Cierre del Proyecto</blockquote></li>  
    <li><blockquote >Etapa de Soporte</blockquote></li>  
</ol>

<p>Elegimos software libre y herramientas de código abierto para garantizar a nuestros clientes libertad de elección, soporte permanente y un precio adecuado para sus requerimientos. </p>