<header>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">Snappler</span>
                        <hr class="star-primary">
                        <span class="skills">Soluciones Tecnológicas a Medida</span>
                    </div>
                </div>
            </div>
        </div>


    </header>
    <br/><br/><br/>


    <section id="que_hacemos">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Que hacemos</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">

                <div class="col-sm-4 que_hacemos-item">
                    <a href="#que_hacemosModal1" class="que_hacemos-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="text-box">
                                    <div class="row" style="margin-top: 43px;">
                                        <div class="col-lg-12">
                                            <p>Estamos capacitados para interpretar cada proyecto y generar soluciones informáticas integrales para optimizar su funcionamiento.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="/assets/soluciones_a_medida.png" class="img-responsive" alt="" />
                    </a>
                </div>
                <div class="col-sm-4 que_hacemos-item">
                    <a href="#que_hacemosModal2" class="que_hacemos-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="text-box">
                                    <div class="row" style="margin-top: 30px;">
                                        <div class="col-lg-12">
                                            <p>Su idea de negocio nos interesa y podemos desarrollar la parte tecnológica que se necesita.</p><p>Nacimos como start-up en la ciudad de La Plata y sabemos que empezar a veces es difícil.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="/assets/partner_tecnologicos.png" class="img-responsive" alt="" />
                    </a>
                </div>
                <div class="col-sm-4 que_hacemos-item">
                    <a href="#que_hacemosModal3" class="que_hacemos-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="text-box">
                                    <div class="row" style="margin-top: 60px;">
                                        <div class="col-lg-12">
                                            <p>Dentro de Snappler las buenas ideas nunca se dejan de lado. Porque nos importa aprender y emprender seguimos innovando.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="/assets/seguir_emprendiendo.png" class="img-responsive" alt="" />
                    </a>
                </div>


            </div>
        </div>

    </section>

    <section id="quienes_somos">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Quienes Somos</h2>
                    <hr class="star-primary">
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-3 ">
                            <p>Somos una empresa Argentina del sector TICs con más de 7 años de experiencia aportando ideas y soluciones a proyectos con diferentes características y necesidades.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                
            </div>
        </div>
    </section>


    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <img src="/assets/sites/infoauto-screen.png" style="width: 100%;"/>
                                <div class="text-box">Info Auto</div>
                            </div>
                        </div>
                        <img src="/assets/portfolio/infoauto.png" class="img-responsive" alt="" />
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <img src="/assets/sites/teytu-screen.png" style="width: 100%;"/>
                                <div class="text-box">Teytu</div>
                            </div>
                        </div>
                        <img src="/assets/portfolio/teytu.png" class="img-responsive" alt="" />
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <img src="/assets/sites/snapplerlive-screen.png" style="width: 100%;"/>
                                <div class="text-box">Snapplerlive</div>
                            </div>
                        </div>
                        <img src="/assets/portfolio/snapplerlive.png" class="img-responsive" alt="" />
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <img src="/assets/sites/lapiedad-screen.png" style="width: 100%;"/>
                                <div class="text-box">La Piedad</div>
                            </div>
                        </div>
                        <img src="/assets/portfolio/lapiedad.png" class="img-responsive" alt="" />
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <img src="/assets/sites/easysign-screen.png" style="width: 100%;"/>
                                <div class="text-box">Easy Sign</div>
                            </div>
                        </div>
                        <img src="/assets/portfolio/easysign.png" class="img-responsive" alt="" />
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <img src="/assets/sites/cuantotengo-screen.png" style="width: 100%;"/>
                                <div class="text-box">Cuanto Tengo</div>
                            </div>
                        </div>
                        <img src="/assets/portfolio/cuantotengo.png" class="img-responsive" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </section>


    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contactate con nosotros</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">


                <%= form_tag('/send_consult',  :method => :post, :authenticity_token => true, :remote => true, :class => "send_form", :id => 'express_contact') do %>
                
                
                        <div class="row">
                            <div class="form-group col-xs-12 floating-label-form-group">
                                <label for="name">Nombre</label>
                                <input class="form-control" type="text" name="name_surname" id="name_surname" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12 floating-label-form-group">
                                <label for="email">Email</label>
                                <input class="form-control" type="email" name="email" id="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12 floating-label-form-group">
                                <label for="telephone">Teléfono</label>
                                <input class="form-control" type="telephone" name="telephone" id="telephone" placeholder="Teléfono">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12 floating-label-form-group">
                                <label for="comments">Mensaje</label>
                                <textarea placeholder="Mensaje" class="form-control" name="comments" id="comments" rows="5"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" data-disable-with="Enviando..." class="btn btn-lg btn-success">Enviar</button>
                            </div>
                        </div>
                    <% end -%>

                </div>
            </div>
        </div>
    </section>









    












    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Info Auto</h2>
                            <hr class="star-primary">
                            <img src="/assets/sites/infoauto-screen.png" class="img-responsive img-centered"/>
                            <p class="text-left">La página de consulta de usados más visitada del país.</p>
                            <p class="text-left">Desarrollamos la nueva web de Infoauto y su backoffice para la auto-gestión de la misma.</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Teytu</h2>
                            <hr class="star-primary">
                            <img src="/assets/sites/teytu-screen.png" class="img-responsive img-centered"/>
                            
                            <p class="text-left">Teytu es un sistema de herramientas desarrolladas para facilitar el trabajo y maximizar el beneficio de las agencias de viajes.</p>
                            <p class="text-left">Está basado en tres módulos:</p>

                            <ul>
                                <li class="text-left">Página web y panel de control para la autoadministración de la misma.</li>
                                <li class="text-left">Sistema de gestión comercial interno.</li>
                                <li class="text-left">Sistema de gestión financiero interno.</li>
                            </ul>
                        

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Snapplerlive</h2>
                            <hr class="star-primary">
                            <img src="/assets/sites/snapplerlive-screen.png" class="img-responsive img-centered"/>

                            <p class="text-left">Chatea, debatí, opina y participa de juegos y encuestas a través de tu celular.</p>

                            <p class="text-left">Snapplerlive es una plataforma virtual la cual permite la interacción del público con pantallas gigantes a través de celulares o dispositivos móviles.</p>


                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>La Piedad</h2>
                            <hr class="star-primary">
                            <img src="/assets/sites/lapiedad-screen.png" class="img-responsive img-centered"/>

                            <p class="text-left">
                                Implementamos un sistema de gestión y puestos de venta con terminales touch screen para la panadería La Piedad, una de las panaderías con mayor prestigio y tradición de la ciudad de La Plata.
                            </p>

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Easy Sign</h2>
                            <hr class="star-primary">
                            <img src="/assets/sites/easysign-screen.png" class="img-responsive img-centered"/>
        
                            <p class="text-left">
                                Easy Sign es un revolucionario sistema de cartelería.
                            </p>
                            <p class="text-left">
                                Desde un sitio web, los usuarios de Easy Sign pueden cargar el contenido y las campañas de publicidad a los carteles y definir mediante ciertos parámetros cuando se muestre cada campaña. 
                            </p>

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Cuanto Tengo</h2>
                            <hr class="star-primary">
                            <img src="/assets/sites/cuantotengo-screen.png" class="img-responsive img-centered"/>

                            <p class="text-left">La forma más rápida y completa de seguir tu economía personal.</p>
                            <p class="text-left">Cuanto Tengo es una aplicación web que permite a cada usuario al registrarse administrar su dinero de manera fácil y rápida, brindando información estadística de sus ingresos y egresos.</p>

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>