

    <h1>¿Quiénes somos?</h1>
    <blockquote>Somos una empresa Argentina del sector TICs con más de 7 años de experiencia aportando ideas y soluciones a proyectos con diferentes características y necesidades. </blockquote>

<div class="row">
      <div class="col-md-3">
        <a class="thumbnail" href="#">
            <%= image_tag('grey.png', :style => 'width: 100%') %>
        </a>
      </div>
      <div class="col-md-9">
        <h3 class="custom-header-1">Tecnología de Punta, Gente de Primera</h3>
        <p>Snappler es un equipo multidisciplinario formado por profesionales y estudiantes del área Informática, Diseño y Administración con gran experiencia y capacidad en el diseño, desarrollo, implementación y mantenimiento de soluciones informáticas integrales a medida.</p>
      </div>
</div>

<div class="row">
      <div class="col-md-9">
        <h3 class="custom-header-1">Objetivo</h3>
        <p>Con compromiso, sinceridad y flexibilidad como pilares de nuestro trabajo buscamos brindar soluciones efectivas y dinámicas para cada uno de los desafíos que enfrentamos.</p>
        <p>Buscamos que las nuevas tecnologías lleguen a de todo tipo de organizaciones de una manera simple y amigable para apuntalar su desarrollo y crecimiento.</p>
      </div>
      <div class="col-md-3">
        <a class="thumbnail" href="#">
            <%= image_tag('grey.png', :style => 'width: 100%') %>
        </a>
      </div>
</div>


