    <li class="media">
        <a class="pull-left" href="#">
            <span class="media-object">
                <% if(customer[:image].nil?) %>
                    <svg width="130" height="130">
                      <rect width="130" height="130" style="fill:#CDDAE3; " class="media-object" />
                    </svg> 
                <% else %>
                    <img style="width: 130px;" class="thumbnail" src="/assets/<%= customer[:image] %>">
                <% end %>
            </span>

        </a>
        <div class="media-body">
            <h4 class="media-heading"><%= customer[:name] %></h4>
            <%= customer[:desctiption].html_safe %>
        </div>
    </li>