<% content_for :sidebar do %>
    <%# render 'frontend/main/express_contact' %>
<% end %>

<div class="row  ">
	<div class="col-md-4 col-md-offset-4 with-background margin-top-15 padding-bottom-20">
    <h3 class="custom-header-1">Acceso Clientes</h3>
		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),  html: { class: "custom-form" } ) do |f| %>
		  <%= f.input :email, :placeholder => 'Usuario', label: false, autofocus: true %>
		  <%= f.input :password, :placeholder => 'Contraseña', label: false %>
      <%= f.submit "INGRESAR", :class => 'btn btn-primary' %>
		<% end %>

		<%# render "devise/shared/links" %>
	</div>
</div>
