/* Main styles */

.navbar { 
	margin-top: 30px; 
	background: #43508E url(/assets/untitled_2.svg) no-repeat 30% -260px; border: 0px;
	a { text-transform: uppercase; font-weight: bold; }
	.navbar-brand { position:relative; bottom: 7px;
		img { width: 128px; }
	}    
	li { background: url('/assets/vertical_line_menu.svg') right center no-repeat; position:relative; }
	li.last-child { background: none; }

	li > ul { display:none;  }
	li:hover > ul { display:block;}
	li > ul { position: absolute; background-color:#43508E; width: 100%; padding:1em;;}
	li > ul > li { list-style-type: none; padding: 0; margin: 0; background:none;}
	li > ul > li small { color: #e5e5e5; font-weight:bold;}
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.button.custom-btn { 
	width: 100%;
	border:none;
	height: 100px;
	color:#43508E;
	font-weight:bold;
	font-size:1.2em;
	background:none;
	span { padding-left: 1.6em; background:url(/assets/arrow.png) no-repeat left bottom; vertical-align:middle; 
	background-color: none; }
	&:hover, &.active {
		background-size: 100% 100%;
		background:url('/assets/background-big-btn.svg') no-repeat center center;
		span { background:none; }
	}
	&.active { 
		span { padding-left:0;}
	}
}

#l_footer { 
	background: #222222; 
	padding: 1em;
}

.carousel-indicators {
	width: 318px; height: 100%; 
	right: 0; left: auto; top: 0;
	margin: 0; padding: 0;
	background: #E7E7E7;
	
	ul { border-top: 1px #dcdcdc solid; border-left: 1px #dcdcdc solid; border-right: 1px #dcdcdc solid; }

	li {    
	    
	    border: 0px;
	    border-bottom:1px solid #e1e1e1; 
	    border-radius: 0px;
	    cursor: pointer;
	    display: block; 
	    line-height: 120px;
	    height: 33.333%;
	    margin: auto;
	    text-indent: 0;
	    width: 100%;

	}
	li.active {    
		background:url('/assets/slider-btn-background.svg') no-repeat right top;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	    border: 0px;
	    border-radius: 0px;
	    cursor: pointer;
	    display: block;
	    height: 33.33%; 
	    text-indent: 0;
	    width: 100%;
	    line-height: 120px;
	}
	img {  vertical-align:middle;  }
}

.navbar-nav > li > a { font-size: 16px; }


.tooltip { text-align: left; }

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -45px;
  border-left-color: white;
  border-width: 45px 0 45px 45px;
  opacity: 0.85;
  -moz-opacity: 0.85;
  -webkit-opacity: 0.85;
}

.tooltip-inner {
  color: black;
  background: #fff;
  border: solid 1px #fff;
  opacity: 0.85;
  -moz-opacity: 0.85;
  -webkit-opacity: 0.85;

  width: 920px;
  min-width: 280px;
  border-radius: 0;
  text-align: left; 

  margin-right: 40px;
  h2 { 
  	color: #43508E;
  	margin-top: 0;
  	font-weight: 100;
  }
  p { color: #6E6E6E; font-size: 1.2em;}
}


.custom-header-1 { font-size: 1.6em; color: #43508E; text-align: center; font-weight: bold; }

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #FFFFFF;
    color: #000000;
    opacity: 0.25;
}



.custom-form {
	input[type="text"], textarea, input[type="password"] { 
		background: none repeat scroll 0 0 #CDDAE3;
	    border: 0 none;
	    color: #262D34;
	    font-size: 12px;
	    padding: 0.8em;
	    width: 100%; 
	    margin-bottom: 10px;
	}	
	input[type="submit"] { 
		background-color: #305C77; 
		border: 0; color: white; 
		padding: 0.25em 1em;  
	}
	textarea { height: 120px; }

	&.small-custom-form {
		input[type="text"], textarea, input[type="password"] { padding: 0.5em; }
		input[type="submit"] { background: #E45E5F; color: #DDE6E3; padding: 0.25em; }
	}
}


.panel-default > .panel-heading {
    background-color: #CDDAE3;
    border-color: #DDDDDD;
    color: #262D34; 
}


.media-body > p {
	font-size:1em;
	color: #333333;
}

li.media { border-bottom: 1px solid #c8c8c8; }