.padding-bottom-15{
	padding-bottom: 15px;
}

.background-color-white{
	background-color: white;
}


.padding-top-20{
	padding-top: 20px;
}

.padding-bottom-20{
	padding-bottom: 20px;
}

.margin-top-15{
	margin-top: 15px;
}

.margin-bottom-15{
	margin-bottom: 15px;
}
