        <h2 class="custom-header-1">¿Cómo podemos ayudarte?</h2>
        <p>Podes ponerte en contacto con Snappler rellenando el formulario, por telefono o email</p>
        <form class="custom-form margin margin-bottom20">
            <p>
                <input type="text" placeholder="Nombre">
            </p>
            <p>
                <input type="text" placeholder="Tu Email">
            </p>
            <p>
                <input type="text" placeholder="Telefono de contacto">
            </p>
            <p>
                <textarea placeholder="Comentarios"></textarea>
            </p>
            <p>
                <input type="submit" value="ENVIAR">
            </p>
        </form>