
<div class="clearfix"></div>
<div id="l_footer">
	<div class="container">
		<div class="row">
			<div class="col-md-1">
				<a href="#">
					<%= image_tag('twitter-logo.svg') %>
				</a>
			</div>
			<div class="col-md-3">
				<h4 style="color:white">Contacto</h4>
				<address style="color:white">
					Telefono: 11-6380-9500<br>
					Email: info@snappler.com
				</address>
			</div>
			<div class="col-md-4">
				<h4 style="color:white">Oficinas</h4>
				<address style="color:white">
					Muñiz 100, esquina Hipolito Yrigoyen<br>Ciudad
					Autómata de Buenos Aires, Argentina
				</address>
			</div>
			<div class="col-md-1">
				<small><%= image_tag('argentina.png') %></small>
			</div>
			<div class="col-md-3">
				<small style="color:white;">La calidad de Snappler esta certificada por:<br></small>
			</div>
		</div>
</div>
