

    <h1>Contacto</h1>
    
    <svg width="100%" height="140">
      <rect width="100%" height="140" rx="20" ry="20" style="fill:#CDDAE3;" />
    </svg>  
    <blockquote class="margin margin-top20">Podes ponerte en contacto con Snappler rellenando el formulario, por telefono o email</blockquote>

    <div class="col-md-6">
        <form class="custom-form margin margin-bottom20">
            <p>
                <input type="text" placeholder="Nombre">
            </p>
            <p>
                <input type="text" placeholder="Tu Email">
            </p>
            <p>
                <input type="text" placeholder="Telefono de contacto">
            </p>
            <p>
                <textarea placeholder="Comentarios"></textarea>
            </p>
            <p>
                <input type="submit" value="ENVIAR">
            </p>
        </form> 
    </div>

    <% content_for :sidebar do %>
        <h2 class="custom-header-1 text-align-left">Contacto</h2>
        <address>
            <ul class="list-style-type-none">
                <li>Telefono: 11-6380-9500</li>
                <li>Email: info@snappler.com </li>
            </ul>
        </address>

        <h2 class="custom-header-1 text-align-left">Oficinas</h2>
        <address>
            <ul class="list-style-type-none">
                <li>Muñiz 100, esquina Hipolito Yrigoyen</li>
                <li>Ciudad Autómata de Buenos Aires, Argentina</li>
            </ul>
        </address>    
    <% end %>






