

    <h1>Equipo y perfiless</h1>
    <p>Con una fuerte vocacion de servicio estamos dispuestos a adaptarnos a las caracteristicas y necesidades de cada proyecto </p>
    <svg width="100%" height="235">
      <rect width="100%" height="235" rx="20" ry="20" style="fill:#CDDAE3;" />
    </svg> 


    <h3>Soluciones a medida</h3>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>


    <% content_for :sidebar do %>
        <%= render 'express_contact' %>
    <% end %>



